@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
    --c-body: #2e2e2e;
    --c-head: #111111;
    --c-gray: #97a5b1;

    --c-bg: #ffffff;
    --c-secondary-bg: #f9f6f2;
    --c-article-bg: #fff3d8;

    --c-shadow: #0000000d;

    --c-primary: #ffce64;
    --c-primary-hover: #fec448;

    --c-replit-editor: #1e2333;

    --font-inter: "Inter", sans-serif;

    --svg-width: 1.4rem;
    --px: 2.5rem;

    --max-w-sm: 55rem;
    --max-w-lg: 70rem;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
    background-color: var(--c-secondary-bg);
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* global resets */
a {
    cursor: pointer;
}
