.post {
    max-width: var(--max-w-lg);
    padding: 0 var(--px);
    margin: 0 auto;
}

.post__emoji {
    width: 100%;
    text-align: center;
}

.post__emoji h1 {
    font-size: 5rem;
    margin: 2rem 0 0 0;
}

.post__emoji h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0 0 0;
    color: var(--c-head);
}

.markdown__content {
    padding: 2rem;
    margin: 2rem 0 0 0;
    border-radius: 0.75rem;
    background-color: var(--c-bg);
    box-shadow: 0 0.25rem 0.5rem var(--c-shadow);
}

.markdown__content > *:first-child {
    margin-top: 0;
}

/* <main class="post">
<div class="post__emoji">
    <h1>{{post.metadata.emoji}}</h1>
    <h2>{{post.metadata.title}}</h2>
</div>

<div class="markdown">
    <div class="markdown__content">{{post.content}}</div>
    <div class="markdown__profile"></div>
</div>
</main> */
