.post {
    max-width: var(--max-w-lg);
    padding: 0 var(--px);
    margin: 0 auto 2rem auto;
}

.post__emoji {
    width: 100%;
    text-align: center;
}

.post__emoji h1 {
    font-size: 5rem;
    margin: 2rem 0 0 0;
}

.post__emoji h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem 0 0 0;
    color: var(--c-head);
}

.markdown {
    margin: 2rem 0 0 0;
    display: flex;
    gap: 2rem;

    position: relative;
}

.markdown__content {
    padding: 2rem;
    border-radius: 0.75rem;
    background-color: var(--c-bg);
    box-shadow: 0 0.25rem 0.5rem var(--c-shadow);
}

.markdown__content > *:first-child {
    margin-top: 0;
}

hr {
    margin: 1.5rem 0;
    border: 1px solid var(--c-secondary-bg);
}

.markdown__profile {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.75rem;
}

.markdown__content .markdown__profile img {
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    border: 1px solid var(--c-secondary-bg);
}

.markdown__profile h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.markdown__profile p {
    margin: 1rem 0;
    max-width: 80%;
}

/* markdown styles */
.markdown__content {
    line-height: 1.5;
    font-size: 1rem;
}

.markdown__content img {
    max-width: 100%;
    border-radius: 0.75rem;
}

.markdown__content code[data-type="inline"] {
    border-radius: 0.25rem;
    background-color: var(--c-article-bg);
    padding: 0 0.25rem;
    color: var(--c-primary-hover);
    font-size: 1rem;
}

.markdown__content a {
    color: var(--c-primary);
    text-decoration: none;
}

.markdown__content a:hover {
    text-decoration: underline;
}

.markdown__content pre {
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: var(--c-replit-editor);
    color: #fff;
}

.markdown__content blockquote {
    border-left: 0.125rem solid var(--c-article-bg);
    padding-left: 1rem;
}
