<!DOCTYPE html>
<html lang="en">
    <head>
        {{ return import("templates/components/seo.html") }}

        <link rel="stylesheet" href="/public/css/search.css" />
        <script src="/public/js/search.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- prettier-ignore -->

            <div class="footer-margin">
                {{ return import("templates/components/header.html") }} 

                <form action="">
                    <input placeholder="Search by title, keywords, or tags" />
                </form>
            </div>

            {{ return import("templates/components/footer.html") }}
        </div>
    </body>
</html>
