<style>
    .profile {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem var(--px);
        max-width: var(--max-w-sm);
        margin: 0 auto;
    }

    .profile__avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        border: 1px solid var(--c-secondary-bg);
    }

    .profile__description h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        line-height: 1;
    }

    .profile__description p {
        margin: 0.75rem 0;
        max-width: 80%;
    }
</style>

<div class="bg-wrapper">
    <section class="profile">
        <img
            class="profile__avatar"
            src="{{ config.author.avatar }}"
            alt="Profile Picture"
        />

        <div class="profile__description">
            <h1>{{ config.author.name }}</h1>
            <p>{{ config.author.bio }}</p>

            <!-- prettier-ignore -->
            {{ return import("templates/components/profile/profile__socials.html") }}
        </div>
    </section>
</div>
