<!DOCTYPE html>
<html lang="en">
    <head>
        {{ return import("templates/components/seo.html") }}
    </head>
    <body>
        <div id="app">
            <!-- prettier-ignore -->
            <div class="bg-wrapper">
                {{ return import("templates/components/header.html") }} 
                {{ return import("templates/components/profile/profile.html") }}
            </div>

            {{ return import("templates/components/articles.html") }}

            <footer></footer>
        </div>
    </body>
</html>
