<!DOCTYPE html>
<html lang="en">
    <head>
        {{ return import("templates/seo.html") }}
    </head>
    <body>
        <div id="app">
            <z-router>
                <z-route path="/">
                    <z-header></z-header>
                    <z-profile
                        avatar="{{ author.avatar }}"
                        name="{{ author.name }}"
                        bio="{{ author.bio }}"
                    >
                    </z-profile>
                    <!-- <z-profile type="hero"></z-profile>
                    <z-articles>
                        <z-article
                            title="My First Zero Post"
                            written="10/10/2020"
                        ></z-article>
                    </z-articles> -->
                    <z-footer></z-footer>
                    <!-- {{ author.name }} -->
                    <!-- <z-link href="/posts/example">Link</z-link> -->
                </z-route>
                <z-route path="/posts/:id">
                    <p>hello world this is a post</p>
                </z-route>
            </z-router>
        </div>
    </body>
</html>
