<!DOCTYPE html>
<html lang="en">
    <head>
        {{ return import("templates/components/seo.html") }}
        <link rel="stylesheet" href="/public/css/post.css" />
    </head>
    <body>
        <div id="app">
            {{ return import("templates/components/header.html") }}

            <main class="post">
                <div class="post__emoji">
                    <h1>{{post.metadata.emoji}}</h1>
                    <h2>{{post.metadata.title}}</h2>
                </div>

                <div class="markdown">
                    <div class="markdown__content">{{post.content}}</div>
                    <div class="markdown__profile"></div>
                </div>
            </main>
        </div>
    </body>
</html>
