<!DOCTYPE html>
<html lang="en">
    <head>
        {{ return import("templates/components/seo.html") }}
        <link rel="stylesheet" href="/public/css/post.css" />
    </head>
    <body>
        <div id="app">
            {{ return import("templates/components/header.html") }}

            <main class="post">
                <div class="post__emoji">
                    <h1>{{post.metadata.emoji}}</h1>
                    <h2>{{post.metadata.title}}</h2>
                </div>

                <div class="markdown">
                    <div class="markdown__content">
                        {{post.content}}
                        <hr />

                        <!-- prettier-ignore -->
                        <section class="markdown__profile">
                            <img
                                src="https://pbs.twimg.com/profile_images/1520125126271922179/ds8zJhJV_400x400.jpg"
                            />
                    
                            <div>
                                <h1>Nathan Pham</h1>
                                <p>
                                    Mathematician, designer, farmer, student. Engineer would be
                                    stretching the titles a bit.
                                </p>
                    
                                <!-- prettier-ignore -->
                                {{ return import("templates/components/profile/profile__socials.html") }}
                            </div>
                        </section>
                    </div>

                    {{ return import("templates/components/post__details.html")
                    }}
                </div>
            </main>

            {{ return import("templates/components/footer.html") }}
        </div>
    </body>
</html>
