<!DOCTYPE html>
<html lang="en">
    <head>
        {{ return import("templates/components/seo.html") }}
        <link rel="stylesheet" href="/public/css/post.css" />
        <script src="/public/js/post.js" type="module"></script>
    </head>
    <body>
        <div id="app">
            {{ return import("templates/components/header.html") }}

            <main class="post">
                <div class="post__emoji">
                    <h1>{{post.metadata.emoji}}</h1>
                    <h2>{{post.metadata.title}}</h2>
                </div>

                <div class="markdown">
                    <div class="markdown__content">
                        {{
                            ((post.metadata.tags || []).split(',')).map(tag => `<span class="markdown__tag"># ${tag}</span>`).join(' ')
                        }}

                        <div class="markdown__content__html">
                            {{post.content}}
                        </div>
                        <hr />

                        <!-- prettier-ignore -->
                        <section class="markdown__profile">
                            <img
                                src="{{ config.author.avatar }}"
                            />
                    
                            <div>
                                <h1>{{ config.author.name }}</h1>
                                <p>{{ config.author.bio }}</p>
                    
                                <!-- prettier-ignore -->
                                {{ return import("templates/components/profile/profile__socials.html") }}
                            </div>
                        </section>

                        {{ return import("templates/components/post__tweet.html") }}
                    </div>

                    {{ return import("templates/components/post__details.html") }}
                </div>
            </main>

            {{ return import("templates/components/footer.html") }}
        </div>
    </body>
</html>
