<style>
    .footer {
        max-width: var(--max-w-lg);
        margin: 0 auto;
        padding: 2rem var(--px);
        color: var(--c-gray);
    }

    .footer a {
        color: var(--c-body);
        text-decoration: none;
    }

    .footer a:hover {
        text-decoration: underline;
    }
</style>

<footer class="bg-wrapper">
    <div class="footer">
        Created by
        <a href="https://nathanpham.me" target="_blank" rel="noreferrer"
            >Nathan Pham</a
        >. Can be used freely without attribution.
    </div>
</footer>
